    /* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */
    
    @media (max-width: 500px) {
        body {
            overflow: hidden;
        }
        .mobile-container {
            max-width: 480px;
            margin: auto;
        }
        .topnav {
            overflow: hidden;
            position: relative;
        }
        .topnav #myLinks {
            display: none;
        }
        .topnav a {
            display: inline-block;
        }
        .topnav a.icon {
            /* float: right; */
        }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .active {
            color: white;
        }
        .resume {
            text-align: center;
        }
        .info {
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        .bio {
            display: flex;
            margin-left: 25px;
        }
        .bio-2 {
            font-size: small;
            text-align: center;
            width: 160px;
            margin-left: 25px;
            padding-bottom: 15px;
        }
        .title {
            color: white;
            font-family: 'Ubuntu Mono', monospace;
            font-size: 3.25rem;
            flex-direction: column;
        }
        .skills-heading {
            display: flex;
            justify-content: center;
            color: white;
            padding-bottom: .6rem;
            font-family: 'Ubuntu Mono', monospace;
            font-size: 0.9375rem;
        }
        .image {
            margin-left: auto;
            margin-right: auto;
            height: 10.625rem;
            width: 10.625rem;
            padding-left: 15px;
        }
        .name {
            font-size: 1rem;
            padding-top: 3px;
            color: white;
        }
        .under-construction {
            font-family: 'Ubuntu Mono', monospace;
            color: white;
            text-align: center;
            margin-top: 15px;
        }
        #linkedin {
            width: 24px;
            height: 24px;
        }
        #github {
            width: 24px;
            height: 24px;
        }
        #twitter {
            width: 24px;
            height: 24px;
        }
        .flex-container-1 {}
        .resume {
            font-family: 'Ubuntu Mono', monospace;
            padding-right: 10px;
            padding-bottom: 4px;
        }
        .fa-bars-staggered {}
    }