* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(12deg, rgba(193, 193, 193, 0.05) 0%, rgba(193, 193, 193, 0.05) 2%, rgba(129, 129, 129, 0.05) 2%, rgba(129, 129, 129, 0.05) 27%, rgba(185, 185, 185, 0.05) 27%, rgba(185, 185, 185, 0.05) 66%, rgba(83, 83, 83, 0.05) 66%, rgba(83, 83, 83, 0.05) 100%), linear-gradient(321deg, rgba(240, 240, 240, 0.05) 0%, rgba(240, 240, 240, 0.05) 13%, rgba(231, 231, 231, 0.05) 13%, rgba(231, 231, 231, 0.05) 34%, rgba(139, 139, 139, 0.05) 34%, rgba(139, 139, 139, 0.05) 71%, rgba(112, 112, 112, 0.05) 71%, rgba(112, 112, 112, 0.05) 100%), linear-gradient(236deg, rgba(189, 189, 189, 0.05) 0%, rgba(189, 189, 189, 0.05) 47%, rgba(138, 138, 138, 0.05) 47%, rgba(138, 138, 138, 0.05) 58%, rgba(108, 108, 108, 0.05) 58%, rgba(108, 108, 108, 0.05) 85%, rgba(143, 143, 143, 0.05) 85%, rgba(143, 143, 143, 0.05) 100%), linear-gradient(96deg, rgba(53, 53, 53, 0.05) 0%, rgba(53, 53, 53, 0.05) 53%, rgba(44, 44, 44, 0.05) 53%, rgba(44, 44, 44, 0.05) 82%, rgba(77, 77, 77, 0.05) 82%, rgba(77, 77, 77, 0.05) 98%, rgba(8, 8, 8, 0.05) 98%, rgba(8, 8, 8, 0.05) 100%), linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 0.938rem;
    background-color: transparent;
}

.resume {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-weight: bolder;
}

.name {
    justify-content: flex-start;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.flex-container-1 {
    display: flex;
    align-items: center;
    gap: 0.225rem;
}

a:hover {
    background-color: rgb(197, 132, 47);
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 6.25rem;
    flex-direction: column;
    margin-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 59);
    color: white;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

.image {
    height: 31.25rem;
    width: 31.25rem;
}

.info {
    width: 500px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
    background-color: transparent;
    gap: 0.625rem;
}

.bio-2 {
    font-size: x-large;
    text-align: center;
    align-self: center;
    font-family: 'Ubuntu Mono', monospace;
    /* font-weight: bold; */
    color: white;
    width: 375px;
    padding-left: 15px;
}

.skills {}

.skills-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    list-style: none;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.skills-heading {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: .6rem;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.875rem;
}

.skill-1 {
    border-style: solid;
    border-color: rgb(30, 27, 192);
    border-radius: .5rem;
    background-color: rgb(30, 27, 192);
}

.skill-2 {
    border-style: solid;
    border-color: rgb(226, 178, 18);
    border-radius: .5rem;
    background-color: rgb(226, 178, 18);
}

.skill-3 {
    border-style: solid;
    border-color: rgb(40, 127, 63);
    border-radius: .5rem;
    background-color: rgb(40, 127, 63);
}

.skill-4 {
    border-style: solid;
    border-color: rgb(8, 137, 142);
    border-radius: .5rem;
    background-color: rgb(8, 137, 142);
}

.skill-5 {
    border-style: solid;
    border-color: rgb(35, 15, 151);
    border-radius: .5rem;
    background-color: rgb(35, 15, 151);
}

.skill-6 {
    border-style: solid;
    border-color: rgb(176, 203, 42);
    border-radius: .5rem;
    background-color: rgb(176, 203, 42);
}

.skill-7 {
    border-style: solid;
    border-color: rgb(213, 144, 32);
    border-radius: .5rem;
    background-color: rgb(213, 144, 32);
}

.skill-8 {
    border-style: solid;
    border-color: rgb(225, 119, 27);
    border-radius: .5rem;
    background-color: rgb(225, 119, 27);
}

.skill-9 {
    border-style: solid;
    border-color: rgb(17, 209, 59);
    border-radius: .5rem;
    background-color: rgb(17, 209, 59);
}

.skill-10 {
    border-style: solid;
    border-color: rgb(49, 42, 180);
    border-radius: .5rem;
    background-color: rgb(49, 42, 180);
}

.under-construction {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-align: center;
    margin-top: 15px;
}